.fogTransition {
  position: absolute;
  top: -75px;
  width: 100vw;
  height: 150px;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  background: transparent;
}

.fogTransition canvas {
  display: block !important;
  width: 100vw !important;
  height: 100% !important;
}
