.ourStory {
  padding: 5rem 0 3rem 0;
  text-align: center;
  color: white;
  background: none;
}

.ourStory h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ourStory p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
}
